body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif, sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.header form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form label img {
    width: 15px;
    filter: invert(100%);
    position: relative;
    left: -24px;
    top: 1px;
    cursor: pointer;
    opacity: 0.5;
}

.icons a {
    color: unset;
    text-decoration: unset;
}

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #646564;
}

.header {
    width: 100%;
    background-color: #1F2120;
    display: flex;
    justify-content: center;
}

.header .infos {
    margin-top: 5px;
    width: 95%;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-weight: bold;
    font-size: 20px;
    color: unset;
    text-decoration: unset;
}

#src {
    color: white;
    text-indent: 10px;
    width: 700px;
    border-radius: 4px;
    height: 30px;
    background-color: transparent;
    outline: navajowhite;
    border: 1px solid rgba(255, 255, 255, 0.498);
}

#src::placeholder {
    font-weight: bold;
}

.icons img {
    width: 20px;
    cursor: pointer;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.icons .sup {
    font-size: 12px;
    position: relative;
    top: -12px;
    left: -10px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-btn img {
    width: 20px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.home img{
    width: 18px;
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    filter: invert(100%);
}

.icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-btn {
    cursor: pointer;
}

#abre {
    display: none;
}

.icons .content {
    position: absolute;
    margin-top: 35px;
    overflow: hidden;
    transition: 0.2s ease-in;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.724);
    border-radius: 3px;
    color: #1F2120;
    height: 170px;
    width: 160px;
    align-items: center;
    justify-content: center;
}

.rows {
    align-items: center;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons #abre:checked~.content {
    max-height: 170px;

}

.icons .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

.icons .row:hover {
    transform: translateX(5px);
    transition: 0.5s ease;
}

#p {
    border-bottom: 1px solid rgba(128, 128, 128, 0.276);
}

.icons .row .img {
    margin-right: 5px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.244);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .row img {
    width: 15px;
    height: 15px;
}

section{
    height: 500px;
    width: 100%;
    background-color: #1F2120;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    height: 380px;
    background-color: white;
    border-radius: 5px;
}

.obs{
    font-size: 12px;
    font-style: italic;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 35px;
    color:rgba(128, 128, 128, 0.932);
    width: 100%;
    background-color: #1f2120e8;
}

.copy{
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 35px;
    color: white;
    font-weight: bold;
    width: 100%;
    background-color: #1f2120e8;
    transition: 0.5s ease;
}

.copy:hover{
    background-color: #1f2120ab;
}

.titu1{
    font-weight: bold;
    margin-top: 30px;
}

.topics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    height: 55px;
    margin-top: 10px;
}

.code{
    font-weight: bold;
    font-size: 13px;
    word-wrap: break-word;
    padding: 5px;
    width: 90%; 
    height: 150px;
    border: 1px solid rgba(141, 140, 140, 0.498);
    border-radius: 5px;
}

.text{
    width: 90%;
}

section .img{
    width: 250px;
    height: 250px;
    background-image: url(qr\ code.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1F2120;
    color: rgba(255, 255, 255, 0.664);
}

.cimaF {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.sets {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loja_desc .sets {
    justify-content: start;
}

.notificacoes .sets {
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.loja_desc {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 150px;
    font-size: 14px;
}

.loja_desc p1 {
    color: #F95F62;
}

.Dname {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.Ddesc {
    margin-top: 15px;
}

.shop {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Sname,
.Lname,
.Nname {
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.acessorios,
.cadeiras,
.computadores,
.telas {
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s ease;
    width: fit-content;
}

.acessorios:hover,
.cadeiras:hover,
.computadores:hover,
.telas:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    color: white;
}

.link {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contato,
.videos,
.designs,
.sobre {
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s ease;
    width: fit-content;
}

.contato:hover,
.videos:hover,
.designs:hover,
.sobre:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    color: white;
}

.notificacoes {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Ndesc {
    font-size: 14px;
}

.btnE {
    background-color: transparent;
    outline: none;
    color: aliceblue;
    border: 1px solid transparent;
    width: 265px;
}

.email {
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#subm {
    width: 25px;
    border: 0px solid transparent;
    background-color: rgba(255, 255, 255, 0.19);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.btnE::placeholder {
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.footer hr {
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.045);
    margin-top: 30px;
}

.baixo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer b {
    text-indent: 3px;
    color: #F95F62;
}